# Taxi Fare Prediction

# Imports and Loading Data

In [4]:
import pandas as pd
import numpy as np

import plotly
import plotly.plotly as py
import plotly.offline as offline
import plotly.graph_objs as go

import geopandas as gpd

import matplotlib.pyplot as plt
%matplotlib inline

## Load Training Data

In [3]:
train = pd.read_csv('/Users/Jaime/repos/projects/taxi-fare-prediction-regression/data/train.csv.zip')

In [5]:
train.head()

,key,fare_amount,pickup_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count
0,2009-06-15 17:26:21.0000001,4.5,2009-06-15 17:26:21 UTC,-73.844311,40.721319,-73.841610,40.712278,1
1,2010-01-05 16:52:16.0000002,16.9,2010-01-05 16:52:16 UTC,-74.016048,40.711303,-73.979268,40.782004,1
2,2011-08-18 00:35:00.00000049,5.7,2011-08-18 00:35:00 UTC,-73.982738,40.761270,-73.991242,40.750562,2
3,2012-04-21 04:30:42.0000001,7.7,2012-04-21 04:30:42 UTC,-73.987130,40.733143,-73.991567,40.758092,1
4,2010-03-09 07:51:00.000000135,5.3,2010-03-09 07:51:00 UTC,-73.968095,40.768008,-73.956655,40.783762,1

In [6]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 55423856 entries, 0 to 55423855
Data columns (total 8 columns):
key                  object
fare_amount          float64
pickup_datetime      object
pickup_longitude     float64
pickup_latitude      float64
dropoff_longitude    float64
dropoff_latitude     float64
passenger_count      int64
dtypes: float64(5), int64(1), object(2)
memory usage: 3.3+ GB

# Processing & EDA

- Convert Pickup Time to datetime 
- Calculate distance between pickup and drop off

In [ ]:
### convert pick_up to datetime 

train['pickup_datetime'] = pd.to_datetime(train['pickup_datetime'])

In [16]:
train['key'] = pd.to_datetime(train['key'])

In [15]:
train.head()

,key,fare_amount,pickup_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count
0,2009-06-15 17:26:21.0000001,4.5,2009-06-15 17:26:21 UTC,-73.844311,40.721319,-73.841610,40.712278,1
1,2010-01-05 16:52:16.0000002,16.9,2010-01-05 16:52:16 UTC,-74.016048,40.711303,-73.979268,40.782004,1
2,2011-08-18 00:35:00.00000049,5.7,2011-08-18 00:35:00 UTC,-73.982738,40.761270,-73.991242,40.750562,2
3,2012-04-21 04:30:42.0000001,7.7,2012-04-21 04:30:42 UTC,-73.987130,40.733143,-73.991567,40.758092,1
4,2010-03-09 07:51:00.000000135,5.3,2010-03-09 07:51:00 UTC,-73.968095,40.768008,-73.956655,40.783762,1

## Visualizing Locations

### Mapbox & Plotly

In [1]:
### plot pickup locations

mb_style = "mapbox://styles/jaimemgarvey/cjv5ln5ol4ds31fjmb9597t4t"

#add location data
data = [go.Scattermapbox(
        lat= train['pickup_latitude'],
        lon = train['pickup_longitude'],
        customdata = train['key'],
        mode='markers',
        marker=dict(size = 4,
                    color = 'orange',
                    opacity=.8,
                    ), 
        name='Pick-up Locations',
        ),
       
        go.Scattermapbox(
        lat= train['dropoff_longitude'],
        customdata = train['key'],
        mode='markers',
        marker=dict(size = 4,
                    color = 'blue',
                    opacity=.8,
                    ),    
            name='Drop-off Locations',
        
        ),
       ]

#layout for map

layout = go.Layout(autosize=False,
                   mapbox= dict(accesstoken = 'pk.eyJ1IjoiamFpbWVtZ2FydmV5IiwiYSI6ImNqdjVrdWJoZjA5a2IzeXFuazhoaGc1N2kifQ.Xf5J_9tTV2Zanyvn5uJo2Q',
                                bearing=10,
                                pitch=60,
                                zoom=13,
                                center=dict(lat=40.721319,
                                            lon=-73.987130),
                                style=mb_style,
                               ),
                   width=900,
                   height=600,
                   title="Passenger Pick-up and Drop-off Locations for NYC Taxicabs",
)

NameError: name 'go' is not defined

In [ ]:
pickup_fig = dict(data=data,layout=layout)
py.iplot(pickup_fig)

### Geopandas

# Feature Engineering

- Calculate distance between points
- location of pick up
- Airport ride
- Number of tolls
- Time of day
- Day of the Week